@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("http://marcysutton.com/fonts/Gotham/Gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("http://marcysutton.com/fonts/Gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("http://marcysutton.com/fonts/Gotham/Gotham-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("http://marcysutton.com/fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold; }

.offscreen {
  display: block;
  left: -50000px;
  position: absolute;
}
.reveal section.slides-index {
  display: block;
}
  .reveal .slides-index h1,
  .reveal .h3-style {
    font-size: 1.5em;
  }
  .reveal .slides-index h2 {
    margin-top: 1em;
  }
  .reveal .slides-index h2,
  .reveal .h4-style {
    font-size: 1em;
  }
  .reveal .small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.5em;
    vertical-align: top;
  }

/* LAYOUTS */
.reveal .gray {
  color: #999;
}
.reveal .smaller {
  font-size: 0.8em;
}
.reveal span.code {
  font-family: 'Menlo', monospace;
  margin: 0 4px;
}
.down-arrow {
  display: block;
  text-align: center;
  width: 100%;
}
.down-arrow:before {
  content: '\2193';
  display: block;
  text-align: center;
}
.columns {
  text-align: center;
}
  .col.col2 {
    display: inline-block;
    vertical-align: top;
    width: 47%;
  }
    .col.col2.first pre {
      position: relative;
    }
    .col.col2.first pre:after {
      content: '\2192';
      font-size: 1.75em;
      position: absolute;
      right: -35px;
      top: 20px;
    }
  .col.col3 {
    display: inline-block;
    padding: 0 1%;
    vertical-align: top;
    width: 30%;
  }
  .col.col2 p,
  .col.col3 p {
    font-size: 0.7em;
  }
  .code-explanation .code {
    display: inline-block;
    position: relative;
    width: 55%;
  }
    .code-explanation .code pre {
      margin: 0;
    }
  .code-explanation .code:after {
    content: '\2192';
    font-size: .75em;
    position: absolute;
    right: 0;
    top: 20px;
  }
  .code-explanation .output {
    display: inline-block;
    font-size: 0.7em;
    min-height: 3.5em;
    vertical-align: middle;
    width: 40%;
  }
.reveal table {
  border-collapse: collapse;
}
.reveal table th {
  border-bottom: 1px solid white;
}
.reveal table th:last-child,
.reveal table td:last-child {
  padding-left: 1em;
}
.reveal table th:first-child,
.reveal table td:first-child {
  border-right: 1px solid white;
  padding-top: 0.5em;
  padding-right: 1em;
  white-space: nowrap;
}
.reveal table th, .reveal table td {
  font-size: 0.65em;
  line-height: 1.25em;
  padding: 0;
}